/* Universal */

* {
	background-color: #E3E3E3;
}

/* Nav */

nav {
	border-bottom: 2px solid grey;
	height: 80px;
}

nav > a {
	margin-top: 23px;
	margin-left: 15px;
	color: #303030;
	display: inline-block;
	text-decoration: none;
}

.fa-diamond {
	color: #EE799F;
	
}

nav span {
	font-size: 24px;
	font-family: cursive;
	font-weight: 700;
}

.sitenav {
	display: inline-block;
	float: right;
	margin-right: 50px;
}

.sitenav li {
	display: inline-block;
}

.sitenav a {
	color: #303030;
  	display: inline-block;
  	margin: 16px 20px;
  	text-decoration: none;
}

/*Nav Responsive*/

@media only screen and (max-width: 470px) {
	
	nav {
		border-bottom: 2px solid grey;
		height: 150px;
		text-align: center;
	}

	nav > a {
		margin-top: 18px;
		color: #303030;
		display: inline-block;
		text-decoration: none;
	}

	.fa-diamond {
		color: #EE799F;
	}

	nav span {
		font-size: 24px;
		font-family: cursive;
		font-weight: 700;
		margin-left: 10px;
	}

	.sitenav {
		display: inline-block;
	}

	.sitenav li {
		display: inline-block;
	}

	.sitenav a {
		color: #303030;
  		display: inline-block;
  		margin: 10px 20px;
  		text-decoration: none;
	}
}

/* Body */

header {
	color: #303030;
	text-align: center;
}

header h1 {
	margin-top: 70px;
}

header span {
	color: #EE799F;
}

header img {
	margin: 30px 0;
	width: 98%;
	border-radius: 10px;
	height: 300px;
}

/*About Boxes*/

#about {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.aboutBox {
	width: 40%;
	margin-left: 10px;
}

.aboutBox h2 {
	font-family: cursive;
	color: #EE799F;
}

.aboutBox p {
	width: 90%;
	text-align: left;
}

.aboutBox2 {
	width: 40%;
	margin-right: 10px;
}

.aboutBox2 h2 {
	font-family: cursive;
	color: #EE799F;
}

.aboutBox2 p {
	width: 90%;
	text-align: left;
}

/*Body Responsive*/

@media only screen and (max-width: 470px) {

	header {
		color: #303030;
		text-align: center;
	}

	header h1 {
		margin-top: 20px;
	}

	header span {
		color: #EE799F;
	}

	header img {
		margin: 10px 0;
		width: 98%;
		border-radius: 10px;
		height: 300px;
	}

	#about {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		text-align: center;
		margin-bottom: 20px;
	}

	.aboutBox {
		width: 40%;
		margin-left: 10px;
	}

	.aboutBox h2 {
		font-family: cursive;
		color: #EE799F;
	}

	.aboutBox p {
		width: 90%;
		text-align: center;
	}

	.aboutBox2 {
		width: 40%;
		margin-right: 10px;
	}

	.aboutBox2 h2 {
		font-family: cursive;
		color: #EE799F;
	}

	.aboutBox2 p {
		width: 90%;
		text-align: center;
	}
}

/* Images Section */

.images_container {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	}

.image {
	border-radius: 8px;
	background-color: #fff;
	margin: 15px 15px;
	height: 200px;
	width: 200px;
}

.image > img {
	border-radius: 8px 8px 0 0;
	height: 130px;
	background-color: #fff;
	width: 100%;
}

.image > h3 {
	padding-left: 8px;
	background-color: #fff;
	margin-bottom: 0;
	margin-top: 5px;
}

.image > p {
	margin-top: 5px;
	padding-left: 8px;
	background-color: #fff;
	color: #EE799F;
}

/*Images Responsive*/

@media only screen and (max-width: 470px) {

	.images_container {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.image {
		border-radius: 8px;
		background-color: #fff;
		margin: 15px;
		height: 200px;
	}

	.image > img {
		border-radius: 8px 8px 0 0;
		height: 130px;
		background-color: #fff;
	}

	.image > h3 {
		padding-left: 8px;
		background-color: #fff;
		margin-bottom: 0;
		margin-top: 5px;
	}

	.image > p {
		margin-top: 5px;
		padding-left: 8px;
		background-color: #fff;
		color: #EE799F;
	}

}

/*Thank You Note*/

#thanks {
	text-align: center;
	font-family: cursive;
	color: #EE799F;
}

/* Footer */

#contact {
	width: 100%;
	background-color: #303030;
	display: inline-flex;
	flex-wrap: wrap;
}

.contact_submit {
	background-color: #303030;
}

#contact h3 {
	background-color: #303030;
	font-size: 24px;
	color: #EE799F;
	font-family: cursive;
	padding-left: 30px;
	padding-top: 40px;
}

#contact form {
	background-color: #303030;
	padding-bottom: 20px;
}

form > input,
form > textarea {
	border-radius: 2px;
	border: 1px solid #f6f9f9;
	color: black;
	display: block;
	font-size: 16px;
	margin: 0 30px 15px;
	padding: 10px;
	width: 600px;
}

form > button {
	font-size: 18px;
	background-color: #303030;
	color: #E3E3E3;
	border-style: none;
	margin-left: 30px;
}

.social {
	display: flex;
	flex: flex-wrap;
	justify-content: center;
	background-color: #303030;
	align-items: center;
	padding: 50px 20px;
}

.social .fa {
	text-align: center;
	padding: 12px;
	margin: 10px;
	background-color: #EE799F;
	border-radius: 50%;
	width: 22px;
    font-size: 20px;
}

.social a {
	background-color: #303030;
	color: #303030;
	text-decoration: none;
}

/*Footere Responsive*/

@media only screen and (max-width: 470px) {

	#contact {
		width: 100%;
		background-color: #303030;
		display: inline-flex;
		flex-wrap: wrap;
	}

	.contact_submit {
		background-color: #303030;
		text-align: center;
	}

	#contact h3 {
		background-color: #303030;
		font-size: 24px;
		color: #EE799F;
		font-family: cursive;
		padding-left: 30px;
		padding-top: 20px;
	}

	#contact form {
		background-color: #303030;
		padding-bottom: 20px;
	}

	form > input,
	form > textarea {
		border-radius: 2px;
		border: 1px solid #f6f9f9;
		color: black;
		display: block;
		font-size: 16px;
		margin: 0 30px 15px;
		padding: 10px;
		width: 100%;
	}

	form > button {
		font-size: 18px;
		background-color: #303030;
		color: #E3E3E3;
		border-style: none;
		margin-left: 30px;
	}

	.social {
		display: flex;
		flex: flex-wrap;
		background-color: #303030;
		align-items: center;
		padding: 50px 20px;
	}

	.social .fa {
		text-align: center;
		padding: 12px;
		margin: 10px;
		background-color: #EE799F;
		border-radius: 50%;
		width: 22px;
	    font-size: 20px;
	}

	.social a {
		background-color: #303030;
		color: #303030;
		text-decoration: none;
	}
}
